<h1>Hello!</h1>
<br>


<% @posts.each do |post| %>
  <br>
  <div class="posts-index-item">
    <div>
      <%= post.number %>
    </div>
    <div>
      <%= post.date %>
    </div>
    <div>
      <%= post.content %>
    </div>
  </div>
<% end %>


<br>

<%= link_to "投稿", new_path %>
